@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans TC", serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.5rem;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin-bottom: 16;
}

a{
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.container{
    width:1296px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card{
    width: calc(33% - 16%);
    
}

.card .hashtag{
    color: #0027D5;
    font-size:24;
    margin-right: 8px;
}

.card .title{
    font-size: 28px;
    font-weight: 700;
}

.card .time{
    margin-bottom: 4px;
}

.btn{
    border: solid 1px #000;
    padding: 8px 16px;
    border-radius: 80px;
}

.btn:hover{
    background: #000;
    color: white;
}

.article-list{
    display: flex;
    flex-wrap: wrap;
    gap: 80px 24px;
}

.card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}